@keyframes bottomDropIn {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}

.testerBox {
    position: relative; /* Add this line to make the element positioned relative to its parent */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 0.5em solid dimgrey;
    margin: 1em;
    height: 10em;
    width: 30em;
}

.testerStats {
    position: absolute;
    bottom: 0%;
    left: 0;
    right: 0;
    height: 25%;
    background-color: rgba(107, 105, 105, 0.453);
    animation: bottomDropIn 0.5s;
}

button.startTestButton {
    border-radius: 8px;
    border: 0.5em solid transparent;
    padding: 0.4em 1.2em;
    font-size: 1em;
    background-color: #2770dd;
    color: white;
    margin: 1em;
    transition: transform 0.3s ease-in-out, background-color 0.2s ease-in-out;
}

button.startTestButton:hover {
    transform: translateY(-5px);
}

button.startTestButton.clicked {
    background-color: #1c4b8c;
}

.timeElapsed{
    transform: translateY(-15px) translateX(-150px);
    font-size: 1.5em;
}
    


